@charset "utf-8";
/* Made with heart by kobe-koto in AGPL-3.0 License License */
/* copyright 2021 kobe-koto */

/* background */
body {
	background-image: url(../images/backgrounds/Minecraft01.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'Naikai';
	src: local("Naikai"),url("../font/naikai-r.woff2");
}
* {
	font-family: Naikai, system-ui;
	font-style: normal;
	font-weight: 550;
}
.column_root {
	display: flex;
}
.column_half {
	flex: 1;
	width: 50%;
}
.column_1-3 {
	flex: 1;
	width: 33.333333%;
}
.date {
	font-size: smaller;
	color: rgb(200,200,200);
	text-align: center;
}
.title {
	text-align: center;
}
button {
	border:1px solid #eeeeee;
	border-radius:3px;
	height: auto;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	width: max-content;
	padding: 8px 15px;
}
img {
	border-radius: 4px;
}
.icon {
	max-width: 100%;
	border-radius: 50%;
	margin: auto;
	overflow: hidden;
	display: block;
	filter: blur(4444px);
}

/* Y scroolbar */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(to bottom, #f284ff 16%,#31cae6 57%,#20a53a 150%);
}
::-webkit-scrollbar {
	width: 10px;
	height: auto;
	background-color: #232323;
}
::-webkit-scrollbar-corner {
	background: #000;
}
::-webkit-scrollbar-track {
	opacity: 0;
	border-radius: 10px;
}
::-webkit-scrollbar-button{
	width: 8px;
	height: 9px;
	background-color: #606060;
	box-shadow: inset 2px 2px #232323,inset -2px -2px #232323,inset 2px -2px #232323,inset -2px 2px #232323;
	border-color: rgba(0,0,0,0.00);
	border-radius: 50%;
}

/* links */
a:visited , a:link {
	color: rgb(0,191,255);
	text-decoration: none;
	cursor: pointer;
	transition: all 0.8s cubic-bezier(0.5,0,0.65,1);
	padding-bottom: 2px;
	margin-top: -2px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 0vh 2px;
	background-image: linear-gradient(rgba(205,70,110,0.5) 100%, rgba(205,70,110,0.5) 100%);
}
a:link:hover , a:visited:hover {
	background-size: 95vh 2px;
}

/* blog */
.main {
	width: 80%;
	height: auto;
	margin: 4em auto;
	color: white;
	display: flex;
}
.window_left {
	width: 15%;
	margin: 0;
	margin-right: 5%;
	height: max-content;

	padding: 2em;
	user-select: none;
	backdrop-filter: blur(10px);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
	background-color: rgba(0,0,0,0.30);
	border-radius: 5px;
}
.window_right {
	width: 80%;
	margin: 0;
	margin-left: 0;
	height: max-content;

	padding: 2em;
	user-select: none;
	backdrop-filter: blur(10px);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
	background-color: rgba(0,0,0,0.30);
	border-radius: 5px;
}
.glass_main {
	user-select: none;
	max-width: 75%;
	height: auto;
	margin: 4em auto;
	color: white;
	padding: 2em;
	border-radius: 8px;
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
	background-color: rgba(0,0,0,0.30);
}

