@charset "utf-8";
/* Made with heart by evenstar3905 in AGPL-3.0 License License */
/* copyright 2021 evenstar3905 */
.glass_main_right {
	max-width: 75%;
	max-height: auto;
	padding: 2em;
	justify-content: center;
	color: white;
	align-items: center;
	border-radius: 8px;
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
	background-color: rgba(0,191,255, 0);
	text-align: center;
	width: 50%;
	margin-right: 0;
	margin-left: -34px;
	margin-top: 0;
	margin-bottom: 0;
}
.glass_main_left {
	max-width: 75%;
	max-height: auto;
	padding: 2em;
	justify-content: center;
	color: white;
	align-items: center;
	border-radius: 8px;
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
	background-color: rgba(0,191,255, 0);
	text-align: center;
	width: 100%;
	margin-right: -34px;
	margin-top: 0;
	margin-bottom: 0;
}
.glass_main {
	max-height: auto;
	margin: 4em auto;
	padding: 2em;
	justify-content: center;
	color: white;
	align-items: center;
	border-radius: 8px;
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
	background-color: rgba(0,191,255, 0);
}
.container {
	display: flex;
	margin: 4em auto;
	max-width: 75%;
	max-height: auto;
	padding: 2em;
	justify-content: center;
	color: white;
	align-items: center;
}
.container_half {
	flex: 1;
	min-width: 50%;
}