@charset "utf-8";
/* Made with heart by kobe-koto in AGPL-3.0 License License */
/* copyright 2021 kobe-koto */

a:visited , a:link {
	transition: all 0.2s cubic-bezier(0.74, 0.51, 1, 1.24);
	color: rgb(0,191,255);
	text-decoration: none;
	padding-bottom: 2px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 0vh 1px;
	animation: 0.5s links-leave cubic-bezier(0.74, 0.51, 1, 1.24);
	background-image: linear-gradient(90deg,rgba(205,70,110,0) 100%, rgba(205,70,110,0) 100%);
}
a:link:hover , a:visited:hover {
	background-position: center bottom;
	background-size: 98vh 1px;
	animation: 0.6s links-hover cubic-bezier(0.74, 0.51, 1, 1.24);
	background-image: linear-gradient(90deg,rgba(205,70,110,1) 100%, rgba(205,70,110,1) 100%);
}
/* 動畫是不是拉的太長了？🤔 */

/* 有一個很棒棒的效果，但是在較短的鏈接文字上體現不出來🤣。放在這裏↓

a:visited , a:link {
	background-position: right bottom;
}
a:link:hover , a:visited:hover {
	background-position: left bottom;
}

其它的就是這樣：
from/to left:
	background-position: left bottom; 
form/to right:
	background-position: right bottom; 
from/to center:
	background-position: center bottom;（如果這裏不加center的話也ok，但是動畫很怪🤷‍♂️）
（想要哪個的話，把裏面的東西插進去就是了xd） */

@keyframes links-hover {
	0% {
		background-image: linear-gradient(90deg,rgba(205,70,110,0) 100%, rgba(205,70,110,0) 100%);
		background-size: 0vh 1px;
	}
	20% {
		background-image: linear-gradient(90deg,rgba(205,70,110,0.4) 100%, rgba(205,70,110,0.4) 100%);
		background-size: 15vh 1px;
	}
	40% {
		background-image: linear-gradient(90deg,rgba(205,70,110,0.65) 100%, rgba(205,70,110,0.65) 100%);
		background-size: 45vh 1px;
	}
	60% {
		background-image: linear-gradient(90deg,rgba(205,70,110,0.8) 100%, rgba(205,70,110,0.8) 100%);
		background-size: 60vh 1px;
	}
	80% {
		background-image: linear-gradient(90deg,rgba(205,70,110,0.9) 100%, rgba(205,70,110,0.9) 100%);
		background-size: 85vh 1px;
	}
	100% {
		background-image: linear-gradient(90deg,rgba(205,70,110,1) 100%, rgba(205,70,110,1) 100%);
		background-size: 100vh 1px;
	}
}

@keyframes links-leave {
	0% {
		background-image: linear-gradient(90deg,rgba(205,70,110,1) 100%, rgba(205,70,110,1) 100%);
		background-size: 100vh 1px;
	}
	20% {
		background-image: linear-gradient(90deg,rgba(205,70,110,0.9) 100%, rgba(205,70,110,0.9) 100%);
		background-size: 85vh 1px;
	}
	40% {
		background-image: linear-gradient(90deg,rgba(205,70,110,0.8) 100%, rgba(205,70,110,0.8) 100%);
		background-size: 60vh 1px;
	}
	60% {
		background-image: linear-gradient(90deg,rgba(205,70,110,0.65) 100%, rgba(205,70,110,0.65) 100%);
		background-size: 45vh 1px;
	}
	80% {
		background-image: linear-gradient(90deg,rgba(205,70,110,0.4) 100%, rgba(205,70,110,0.4) 100%);
		background-size: 15vh 1px;
	}
	100% {
		background-image: linear-gradient(90deg,rgba(205,70,110,0) 100%, rgba(205,70,110,0) 100%);
		background-size: 0vh 1px;
	}
}