@charset "utf-8";
/* Made with heart by evenstar3905 in AGPL-3.0 License License */
/* copyright 2021 evenstar3905 */
a:visited {
	color: #00bfff;
    text-decoration: none;
	font-weight:bold;
}
a:link {
	color: #00bfff;
    text-decoration: none;
	font-weight:bold;
}
a:link:hover {
	color: #00bfff;
	text-decoration-line: underline;
	font-weight:bold;
}