@charset "utf-8";
/* Made with heart by kobe-koto in AGPL-3.0 License License */
/* copyright 2021 kobe-koto */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(to bottom, #f284ff 16%,#31cae6 57%,#20a53a 150%);
	/* background: linear-gradient(to bottom, #f284ff 1%,#31cae6 100%); */
	/* background: linear-gradient(to bottom, #f284ff 16%,#31cae6 57%,#20a53a 73%); */
}
::-webkit-scrollbar {
	width: 10px;
	height: auto;
}
::-webkit-scrollbar-corner {
	background: none;
}
::-webkit-scrollbar-track {
	opacity: 0;
}