@charset "utf-8";
/* Made with heart by kobe-koto in AGPL-3.0 License License */
/* copyright 2021 kobe-koto */
body {
	background-color: #000000;
	/* for old ↑ */
	
	background-image: linear-gradient(45deg, #b2a2cd 25%, #5f5370 25%, #5f5370 50%, #b2a2cd 50%, #b2a2cd 75%, #5f5370 75%, #5f5370 100%);
	background-size: 59.40px 59.40px;
	background-attachment: fixed;
	background-position: center;
	
	font-family: source-sans-pro;
	
	padding: 0;
	margin: 0;
	
	font-style: normal;
	font-weight: 200;
}