@charset "utf-8";
/* Made with heart by kobe-koto in AGPL-3.0 License License */
/* copyright 2021 kobe-koto */
a:visited , a:link {
	color: rgb(0,191,255);
	text-decoration: none;
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.74, 0.51, 1, 1.24);
	padding-bottom: 2px;
	margin-top: -2px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 0vh 1px;
	background-image: linear-gradient(rgba(205,70,110,1) 100%, rgba(205,70,110,1) 100%);
}
a:link:hover , a:visited:hover {
	background-size: 95vh 1px;
}
.abuttonlikelink {
	color: rgb(0,191,255);
	text-decoration: none;
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.74, 0.51, 1, 1.24);
	padding-bottom: 2px;
	margin-top: -2px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 0vh 1px;
	background-image: linear-gradient(rgba(205,70,110,1) 100%, rgba(205,70,110,1) 100%);
}
.abuttonlikelink:hover {
	background-size: 95vh 1px;
}