@charset "utf-8";
/* Made with heart by kobe-koto in AGPL-3.0 License License */
/* copyright 2021 kobe-koto */
	/* background: linear-gradient(to bottom, #f284ff 1%,#31cae6 100%); */
	/* background: linear-gradient(to bottom, #f284ff 16%,#31cae6 57%,#20a53a 73%); */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(45deg,#f284ff 16%,#31cae6 57%,#20a53a 150%);
	
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	border-color: #232323;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #232323;
}
::-webkit-scrollbar-corner {
	background: #000;
}
::-webkit-scrollbar-track {
	opacity: 0;
	border-radius: 10px;
}
::-webkit-scrollbar-button{
	width: 10px;
	height: 10px;
	background-color: #606060;
	border-radius: 50%;
	
	border-style: solid;
	border-width: 3px;
	box-sizing: border-box;
	border-color: #232323;
}