@charset "utf-8";
/* Made with heart by kobe-koto in AGPL-3.0 License License */
/* copyright 2021 kobe-koto */
.container {
	display: flex;
}
.container_half {
	flex: 1;
	width: 50%;
}
.container_1-3 {
	flex: 1;
	width: 33.333333%;
}
/* for old ↑ */

/* new */
.column_root {
	display: flex;
}
.column_half {
	flex: 1;
	width: 50%;
}
.column_1-3 {
	flex: 1;
	width: 33.333333%;
}