@charset "utf-8";
/* Made with heart by evenstar3905 in AGPL-3.0 License License */
/* copyright 2021 evenstar3905 */
.statement {
	position: fixed;
	width: auto;
	height: auto;
	z-index: 999;
	left: 1.5%;
	bottom: 3%;
	background-color: rgb(32,33,36,0.85);
	border-radius: 4px;
	color: #FFFFFF;
	display: block;
	font-size: small;
	padding: 1.3em;
	backdrop-filter: blur(2.1px);
}
.statement p,h1,h2,h3,h4,h5,h6 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
