@charset "utf-8";
/* Made with heart by evenstar3905 in AGPL-3.0 License License */
/* copyright 2021 evenstar3905 */
body {
	background-color: #222223;
	margin: 3em 1em;
	padding: 0;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
		"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:visited {
	color: #ae00d0;
		text-decoration: none;
}
a:link {
	color: #ae00d0;
		text-decoration: none;
}
a:link:hover {
	color: #ae00d0;
	text-decoration-line: underline;
}
.abuttonlikelink {
	color: #ae00d0;
	text-decoration: none;
	cursor: pointer;
}
.abuttonlikelink:hover {
	color: #ae00d0;
	text-decoration-line: underline;
	cursor: pointer;
}
img {
	max-width: 100%;
}
.info {
	display: grid;
	grid-template-columns: 30% 70%;
	text-align: center;
}
.info h4 {
	padding-left: 0.5em;
	margin-top: -0.22em;
	margin-bottom: 0.5em;
}
.info h6 {
	padding-left: 1em;
	margin-top: -0.5em;
	margin-bottom: 1em;
}
.main h1 {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	align-content: center;
}
a.disabled {
	pointer-events: none;
	cursor: default;
	color: gray;
}
.author::before {
	content: "";
}
.author {
	text-align: center;
	margin-top: -0.7em;
	margin-bottom: 0.7em;
}
button{
	border: none;
	background: #202124;
	padding: 4px 8px;
	margin: 0;
	border-radius:3px;
	transition: all 0.35s cubic-bezier(0.74, 0.51, 1, 1.24);
}
button:hover{
	box-shadow: 0 12px 16px 0 rgba(169,169,169,0.45),0 17px 50px 0 rgba(169,169,169,0.45);
	cursor: pointer;
}
.main {
	color: #2f4f4f;
	width: 80%;
	max-height: auto;
	margin: 5em auto;
	padding: 2em;
	background-color: #03d0bf;
	border-radius: 0.5em;
	box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
}
h1 {
	line-height: 130%;
	text-align: center;
	font-weight: bold;
	font-size: xxx-large;
	margin-top: 3.2em;
	margin-bottom: 3.3em;
}
h2 {
	line-height: 130%;
	text-align: center;
	font-weight: bold;
	font-size: x-large;
	margin-top: 1.2em;
	margin-bottom: 2.3em;
}
div {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}
p {
	text-indent: 2em;
	display: block;
	line-height: 1.3em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
img {
	vertical-align: text-bottom;
	max-width: 90%;
}
.title {
	margin-bottom: 0.7em;
}
.author {
	text-align: center;
}